#headerhead {
  /* position: sticky; */
  top: 0;
  left: 0;
  z-index: 1;
}

*:focus {
  box-shadow: 0 0 0 8px rgba(230, 125, 34, 0.5);
}

::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#8017c4, #3561f2);
  border-radius: 10px;
  height: 200px;
}

#bars {
  display: none;
  font-size: 20px;
}

#header {
  background-color: #fdf2e9;
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  height: 22px;
  margin-left: 50px;
  cursor: pointer;
}

#headertext {
  display: flex;
  align-items: center;
  font-size: 17px;
  font-family: "rubik", sans-serif;
  font-weight: 600;
  gap: 50px;
}

#maintext {
  display: flex;
  align-items: center;
  margin-right: 60px;
  gap: 40px;
}

.how,
.price,
.test,
.meal {
  text-decoration: none;
  color: #333333;
  transition: all 0.3s;
  transition-timing-function: ease;
}

.how:hover,
.meal:hover,
.test:hover,
.price:hover {
  color: #d2711f;
  cursor: pointer;
  transition: all 0.3s;
}

.button {
  font-size: 17px;
  font-family: "rubik", sans-serif;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 25px 10px 25px;
  background-color: #e67e22;
  border-radius: 10px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.3s;
  transition-timing-function: ease;
}

.button:hover {
  background-color: #d2711f;
}

.menu-txt {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: "rubik", sans-serif;
  font-weight: 600;
  gap: 30px;
  margin-top: 250px;
  text-align: center;
  background-color: #fefae0;
}

#menu-txt {
  display: none;
}

/* ******************** 
New Styling
******************** */

#main {
  height: 90vh;
  width: 100%;
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: auto auto;
}

#main1 {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-left: 100px;
}

#textmain {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#bigtxt {
  font-size: 48px;
  font-family: "Rubik", sans-serif;
  font-weight: 800;
  color: #333333;
  line-height: 1.2;
  letter-spacing: -1px;
}

#description-text {
  font-size: 21px;
  font-family: "Rubik", sans-serif;
  color: #6b6b68;
  line-height: 1.5;
}

#spanbox {
  display: flex;
  gap: 40px;
  margin-bottom: 30px;
}

.eating {
  padding: 12px 30px;
  background-color: #e67e22;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  font-family: "rubik", sans-serif;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.5s;
}

.eating:hover {
  background-color: #d2711f;
}

#learn {
  padding: 10px 30px;
  color: #333333;
  background-color: #fff;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  font-family: "rubik", sans-serif;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.5s;
  border: 4px solid transparent;
  box-sizing: border-box;
}

#learn:hover {
  background-color: transparent;
  border: 4px solid #fff;
}

.people {
  height: 40px;
  border-radius: 50%;
  border: 3px solid #fff;
  margin-right: -13px;
}

#image {
  display: flex;
  align-items: center;
  gap: 30px;
}

#num-del {
  display: flex;
  gap: 5px;
}

#num {
  color: #cf711f;
  font-family: "rubik", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

#delivered {
  color: #333333;
  font-family: "rubik", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

#heroimage {
  perspective: 500px;
  padding-top: 60px;
}

#hero {
  height: 550px;
  transform: rotateY(-15deg);
  transition: all 0.5s;
  /* filter: drop-shadow(2px 6px rgb(168, 164, 164)); */
}

#hero:hover {
  margin-top: -10px;
  transform: rotateY(-10deg);
}

/* ******************** 
New Styling
******************** */

.capstext {
  display: flex;
  justify-content: center;
  font-size: 17px;
  font-family: "rubik", sans-serif;
  font-weight: 600;
  filter: brightness(0);
  opacity: 50%;
}

#business-logos {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 30px;
  gap: 25px;
}

#business-logos img {
  height: 30px;
  filter: brightness(0);
  opacity: 50%;
}

.logo-images {
  display: flex;
  gap: 60px;
  justify-content: center;
}

/* ******************** 
New Styling
******************** */

.works-dose {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 180px;
  padding-top: 90px;
}

.works {
  color: #cf711f;
  font-family: "rubik", sans-serif;
  font-weight: 600;
  font-size: 15px;
}

.daily-dose {
  font-size: 40px;
  font-family: "rubik", sans-serif;
  font-weight: 800;
  color: #333333;
  letter-spacing: -1px;
}

.screentxt {
  display: flex;
  gap: 250px;
  padding-left: 180px;
  padding-top: 120px;
}

.screentxt2 {
  display: flex;
  gap: 250px;
  padding-left: 300px;
  padding-top: 120px;
}

.number-txt {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.number {
  font-size: 70px;
  font-family: "rubik", sans-serif;
  font-weight: 800;
  filter: brightness(0);
  opacity: 20%;
}

.tell-what {
  font-size: 28px;
  font-family: "rubik", sans-serif;
  font-weight: 800;
  letter-spacing: -1px;
  color: #333333;
}

.never-again {
  font-size: 18px;
  font-family: "rubik", sans-serif;
  color: #333333;
  line-height: 1.5;
}

.screen {
  height: 400px;
  position: absolute;
  transition: all 0.5s;
}

.screen:hover {
  transform: rotateZ(2deg);
}

.screen2 {
  height: 400px;
  position: absolute;
  transition: all 0.5s;
  perspective: 100px;
}

.screen2:hover {
  transform: rotateZ(-2deg);
}

.circle {
  height: 270px;
  width: 270px;
  background-color: #fae5d3;
  position: relative;
  z-index: -1;
  margin-top: 50px;
  margin-left: -65px;
  border-radius: 50%;
  border: 30px solid #fdf2e9;
}

/* ******************** 
New Styling
******************** */

#recipes {
  padding-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

#grid {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: 150px;
}

.works {
  color: #cf711f;
  font-family: "rubik", sans-serif;
  font-weight: 600;
  font-size: 15px;
}

.daily-dose2 {
  font-size: 40px;
  font-family: "rubik", sans-serif;
  font-weight: 800;
  color: #333333;
  letter-spacing: -1px;
}

.meal-image {
  height: 480px;
  width: 330px;
  border-radius: 10px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  transition: all 0.5s;
}

.meal-image:hover {
  margin-top: -10px;
}

.meal-image img {
  height: 230px;
  width: 330px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.box-txt {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.vegetarian {
  background-color: #51cd5b;
  height: 18px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-family: "rubik", sans-serif;
  font-size: 13px;
}

.japanese {
  color: #333333;
  font-family: "rubik", sans-serif;
  font-size: 22px;
  font-weight: 600;
}

.font-txt {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 50px;
}

.fonts {
  display: flex;
  gap: 25px;
  font-size: 18px;
  font-weight: 600;
  color: #555555;
  font-family: "rubik", sans-serif;
  align-items: center;
}

.fonts i {
  font-size: 23px;
}

.rating {
  margin-left: -6px;
}

.paleo {
  display: flex;
  gap: 10px;
}

.vegan {
  background-color: #94d82d;
  height: 17px;
  width: 70px;
  font-family: "rubik", sans-serif;
  font-size: 13px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.yellow-box {
  background-color: #ffd43b;
  height: 17px;
  width: 70px;
  font-family: "rubik", sans-serif;
  font-size: 13px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

#checkfont {
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 480px;
  width: 330px;
}

.work-diet {
  font-size: 30px;
  font-family: "rubik", sans-serif;
  font-weight: 600;
  color: #333333;
}

.tick-txt {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 20px;
  font-family: "rubik", sans-serif;
  color: #6b6d6b;
  font-size: 18px;
}

.tick-txt i {
  font-size: 24px;
}

.check-txt {
  display: flex;
  gap: 20px;
}

#link {
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-top: 70px;
}

#link a {
  color: #cf711f;
  font-family: "rubik", sans-serif;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

#link a:hover {
  color: #e67e22;
  border-bottom: 1px solid transparent;
  transition: all 0.4s;
}

/* ******************** 
New Styling
******************** */

#hovrable-image-div {
  background-color: #fae5d3;
  margin-top: 120px;
  display: grid;
  grid-template-columns: auto auto;
  padding-left: 100px;
  padding-top: 90px;
  padding-bottom: 50px;
}

.testimonials {
  color: #cf711f;
  font-family: "rubik", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.5px;
}

.daily-dose3 {
  font-size: 40px;
  font-family: "rubik", sans-serif;
  font-weight: 800;
  color: #333333;
  letter-spacing: -1px;
}

#customer-box {
  display: grid;
  grid-template-columns: auto;
  gap: 100px;
  padding-top: 50px;
  gap: 40px;
}

.customers {
  display: grid;
  grid-template-columns: auto auto;
}

.first-customer {
  width: 55%;
}

.first-customer2 {
  width: 65%;
}

.first-customer3 {
  width: 75%;
}

.first-customer4 {
  width: 70%;
}

.customers img {
  height: 60px;
  border-radius: 50%;
}

.customers2 {
  display: grid;
  grid-template-columns: auto auto;
}

.customers2 img {
  height: 60px;
  border-radius: 50%;
}

.customer-review {
  color: #555555;
  font-family: "rubik", sans-serif;
  letter-spacing: 1.2px;
  font-size: 17px;
  line-height: 1.8;
  padding-top: 20px;
}

.customer-name {
  color: #6f6f6f;
  font-family: "rubik", sans-serif;
  padding-top: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
}

.gallery-images {
  overflow: hidden;
  height: 180px;
  width: 180px;
}

.gallery-images img {
  width: 100%;
  transition: all 0.4s ease;
}

.gallery-images img:hover {
  transform: scale(1.1);
}

/* ******************** 
New Styling
******************** */

.works-dose2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 180px;
  padding-top: 90px;
}

#grid-price-box {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 80px;
  padding-top: 100px;
}

#starter-price {
  border: 3px solid #fdf2e9;
  border-radius: 11px;
  padding-bottom: 30px;
  padding: 10px;
}

.price-padding {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.starter {
  color: #d8711f;
  font-family: "rubik", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.pricing {
  display: flex;
  color: #333333;
  align-items: baseline;
  gap: 10px;
}

.dollar-sign {
  font-family: "rubik", sans-serif;
  font-weight: 600;
  font-size: 30px;
}

.total-pricing {
  font-family: "rubik", sans-serif;
  font-weight: 600;
  font-size: 55px;
}

.month-price {
  color: #747d7d;
  font-family: "rubik", sans-serif;
}

.what-you-get {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px 60px 30px;
}

.what-you-get div {
  display: flex;
  gap: 20px;
  font-size: 18px;
  font-family: "rubik", sans-serif;
  color: #555555;
}

.eating-box {
  display: flex;
  justify-content: center;
}

.eating2 {
  height: 52px;
  width: 216px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e67e22;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  font-family: "rubik", sans-serif;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.4s;
}

.eating2:hover {
  background-color: #cf711f;
}

#starter-price2 {
  background-color: #fdf2e9;
  border-radius: 11px;
  padding: 10px;
  padding-bottom: 30px;
  position: relative;
  overflow: hidden;
}

#starter-price2::before {
  content: "best value";
  text-transform: uppercase;
  font-family: "rubik", sans-serif;
  background-color: #ffd43b;
  font-weight: 600;
  position: absolute;
  padding: 5px 60px 5px;
  right: -11%;
  margin-top: 35px;
  transform: rotate(45deg);
}

#gst {
  color: #6b625a;
  font-family: "rubik", sans-serif;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

/* ******************** 
New Styling
******************** */

#icons {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 100px 0px;
  margin-left: 100px;
}

.icons-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
}

#icons i {
  color: #e67e22;
  background-color: #fdf2e9;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border-radius: 50%;
}

.never-cook-again {
  font-family: "rubik", sans-serif;
  font-size: 25px;
  font-weight: 900;
  color: #333333;
}

.subs-cover {
  font-family: "rubik", sans-serif;
  font-size: 17px;
  color: #555555;
  line-height: 1.5;
  width: 100%;
}

#grid-flex {
  display: flex;
  justify-content: center;
  border-bottom: 1.5px solid #eeeeee;
}

#main-grid {
  display: flex;
  background-color: #e98f3e;
  border-radius: 10px;
  margin-bottom: 150px;
  overflow: hidden;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
}

#email-grid {
  display: flex;
  gap: 62px;
}

.first-meal {
  font-family: "rubik", sans-serif;
  font-size: 45px;
  color: #45260a;
  font-weight: 750;
  letter-spacing: -1px;
}

.healthy-first-meal {
  font-family: "rubik", sans-serif;
  font-size: 18px;
  color: #45260a;
  line-height: 1.8;
}

#meal-txt {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 40px;
}

#input-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

#input-grid label {
  display: block;
  padding-bottom: 10px;
}

#select-where {
  display: flex;
  border: none;
  padding: 10px 46px 10px 15px;
  font-size: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  transition: all 0.3s;
}

.input-flex {
  display: flex;
  border: none;
  padding: 10px 60px 10px 15px;
  font-size: 20px;
  border-radius: 10px;
  transition: all 0.3s;
}

.input-flex:focus,
#select-where:focus,
#sign-up:focus {
  outline: none;
  box-shadow: 0 0 0 6px rgba(255, 254, 253, 0.5);
}

.names {
  font-size: 18px;
  font-family: "rubik", sans-serif;
  color: currentColor;
}

#sign-up {
  color: #fae5d3;
  background-color: #45260a;
  font-size: 21px;
  font-weight: 700;
  font-family: "rubik", sans-serif;
  border: none;
  cursor: pointer;
  padding: 10px 95px 10px;
  border-radius: 10px;
  transition: all 0.3s;
  margin-top: 31px;
}

#sign-up:hover {
  background-color: #ffffff;
  color: #45260a;
}

#lady-eating {
  width: 384px;
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url(img/eating.jpg);
  background-size: cover;
  background-position: center;
}

/* ************
new styling**** */

#footer {
  display: grid;
  grid-template-columns: auto auto;
  font-family: "rubik", sans-serif;
  padding: 150px;
}

#footer img {
  height: 20px;
}

.footer-icons {
  display: flex;
  gap: 20px;
}

.footer-icons i {
  font-size: 24px;
  color: #686868;
  margin-bottom: 25px;
  transition: all 0.3s;
}

.footer-icons i:hover {
  color: #555555;
  cursor: pointer;
}

#copyright {
  font-size: 14px;
}

.contact-us {
  font-size: 20px;
  color: #555555;
  font-weight: 600;
}

.footer-txt {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 16px;
  color: #6b6d6b;
}

.footer-sub-txt {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.div-div {
  cursor: pointer;
  width: 150px;
  transition: all 0.3s;
}

.div-div:hover {
  color: black;
}

#account-div {
  display: grid;
  grid-template-columns: auto auto auto;
}

#company-div {
  display: grid;
  grid-template-columns: auto auto;
}

@media screen and (max-width: 660px) {
  #maintext {
    display: none;
  }
  #logo {
    height: 20px;
    margin-left: 10px;
  }
  #main {
    height: 100%;
  }
  #main1 {
    padding-left: 0px;
    padding-top: 20px;
  }
  #bigtxt {
    font-size: 30px;
    text-align: center;
  }
  #description-text {
    font-size: 14px;
    text-align: center;
  }
  #spanbox {
    gap: 20px;
    justify-content: center;
  }
  .eating {
    padding: 10px 20px;
    font-size: 16px;
  }
  #learn {
    padding: 8px 20px;
    font-size: 16px;
  }
  #image {
    margin-top: -40px;
  }
  #main {
    grid-template-columns: auto;
  }
  #heroimage {
    display: flex;
    justify-content: center;
  }
  #hero {
    height: 250px;
    transform: rotateY(0deg);
    padding-bottom: 50px;
  }
  #hero:hover {
    margin-top: 0px;
    transform: rotateY(0deg);
  }
  .people {
    height: 30px;
  }
  #image {
    justify-content: center;
  }
  #num-del {
    flex-direction: column;
    text-align: center;
  }
  #num {
    font-size: 14px;
  }
  #delivered {
    font-size: 14px;
  }
  .display-none {
    display: none;
  }
  .capstext {
    font-size: 12px;
  }
  #business-logos img {
    height: 12px;
  }
  .logo-images {
    gap: 10px;
  }
  .works-dose {
    gap: 5px;
    padding-left: 10px;
    padding-top: 20px;
  }
  .works {
    font-size: 12px;
  }
  .daily-dose {
    font-size: 24px;
    text-align: left;
  }
  .daily-dose2 {
    font-size: 24px;
    text-align: center;
  }
  .screentxt {
    flex-direction: column-reverse;
    padding-left: 10px;
    padding-top: 90px;
  }
  .screentxt2 {
    flex-direction: column;
    padding-left: 10px;
    padding-top: 90px;
  }
  .number-txt {
    gap: 5px;
    text-align: center;
  }
  .number {
    font-size: 50px;
  }
  .tell-what {
    font-size: 20px;
  }
  .never-again {
    font-size: 12px;
    padding-top: 20px;
  }
  .phone-div {
    display: flex;
    justify-content: center;
    margin-bottom: -40px;
  }
  .screen,
  .screen2 {
    height: 200px;
  }
  .circle {
    display: none;
  }
  #grid {
    grid-template-columns: auto;
    margin-left: 0px;
    gap: 30px;
  }
  .meal-image:hover {
    margin-top: 0px;
  }
  #checkfont {
    align-items: center;
  }
  #link {
    margin-top: 10px;
  }
  #hovrable-image-div {
    padding-left: 10px;
    padding-top: 60px;
    grid-template-columns: auto;
  }
  .testimonials {
    font-size: 12px;
  }
  .daily-dose3 {
    font-size: 24px;
  }
  .customers img,
  .customers2 img {
    height: 40px;
  }
  .customers,
  .customers2 {
    grid-template-columns: auto;
    margin-left: 10px;
    gap: 20px;
  }
  .customer-review {
    font-size: 14px;
    padding-top: 10px;
  }
  .first-customer,
  .first-customer2,
  .first-customer3,
  .first-customer4 {
    width: 70%;
  }
  .gallery {
    gap: 5px;
    padding: 1px;
    padding-top: 50px;
  }
  .gallery-images {
    height: 110px;
    width: 110px;
  }
  .works-dose2 {
    padding-left: 10px;
  }
  #grid-price-box {
    grid-template-columns: auto;
  }
  #starter-price {
    padding-bottom: 35px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .month-price {
    font-size: 12px;
  }
  #starter-price2 {
    margin-left: 20px;
    margin-right: 20px;
  }
  #gst {
    text-align: center;
    font-size: 14px;
    padding: 10px;
  }
  #icons {
    grid-template-columns: auto;
    justify-content: start;
    margin-left: 20px;
    padding: 80px 0px;
  }
  #icons i {
    height: 50px;
    width: 50px;
    font-size: 20px;
  }
  .never-cook-again {
    font-size: 20px;
  }
  .subs-cover {
    font-size: 14px;
  }
  #main-grid {
    width: 95%;
  }
  #email-grid {
    flex-direction: column-reverse;
    gap: 20px;
  }
  #input-grid {
    grid-template-columns: auto;
  }
  #meal-txt {
    padding-top: 0px;
    padding-left: 10px;
  }
  .first-meal {
    font-size: 30px;
    width: 90vw;
    word-wrap: break-word;
  }
  .healthy-first-meal {
    font-size: 12px;
    width: 90vw;
    word-wrap: break-word;
  }
  #sign-up {
    padding: 20px 95px 20px;
  }
  #lady-eating {
    height: 300px;
    width: 490px;
    background-position: left -80px;
  }
  #footer {
    grid-template-columns: auto;
    gap: 80px;
    padding: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
  }
  #account-div {
    grid-row: 1;
  }
  .contact-us {
    font-size: 14px;
  }
  .footer-txt {
    font-size: 10px;
    width: 30vw;
    margin-left: 5vw;
  }
  #bars {
    display: block;
    z-index: 2;
  }
  #bars i {
    margin-left: -50px;
  }
  #menu-txt {
    z-index: 1;
    position: absolute;
  }
  .menu-txt {
    padding: 100px 100px 100px 120px;
    margin-bottom: -100px;
  }
  .how,
  .price,
  .test,
  .meal {
    width: 40vw;
  }
}
